.up {
  text-align: center;
  font-size: 2rem;
  background-color: black;
  color: white;
  position: relative; top: -2rem;
}

.down {
    text-align: center;
    border-bottom: 2px;
    font-size: 5rem;
    background-color: grey;
    padding-top: 1rem;
    padding-bottom: 5rem;
    color: white;
    font-style: italic;
    position: relative; top: -90px;
}

.button{
  position: relative; right: -32rem; top: -5px;
  color: white;
  background-color: aqua;
  padding: 5px;
  cursor: pointer;
}