.up {
  display: flex;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  justify-content: center;
  list-style-type: none;
  border-bottom: 0.1rem solid white;
  position: fixed;
  top: 0%;
  background: black;
  width: 100%;
  z-index: 1;
}

.up li{
 padding-inline: 5rem;
 color: white;
 font-style: oblique;
 font-weight: 700;
 font-size: xx-large;
}

.down {
    text-align: center;
    border-bottom: 2px;
    font-size: 5rem;
    background-color: #777;
    padding-top: 1rem;
    padding-bottom: 5rem;
    color: white;
    font-style: italic;
    position: relative;
}

.button{
  position: relative; right: -16rem; top: -5px;
  color: white;
  background-color: aqua;
  padding: 5px;
  cursor: pointer;
}