.div{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
    font-style: oblique ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img{
    width: 20rem;
    border-radius: 10px;
    padding-left: 5px ;
}

.button{
    width: 160px;
    height: 2rem;
    background-color: orange;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.price {
    font-size: larger;
}

.p{
    float: left;
}